@font-face {
    font-family: 'Man';
    src: url(/assets/fonts/Manrope-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Man';
    src: url(/assets/fonts/Manrope-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Man';
    src: url(/assets/fonts/Manrope-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

